<h1>Registor</h1>
<br />
<div ng-if="vm.err" class="alert alert-danger" role="alert">{{vm.err}}</div>
<div ng-if="vm.success" class="success alert-success" role="alert">
  {{vm.success}}
</div>

<form name="regForm" ng-submit="vm.register()">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      id="username"
      placeholder="username"
      ng-model="vm.formdata.username"
      autocapitalize="none"
      required
    />
  </div>
  <div class="form-group">
    <label for="username">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      id="name"
      placeholder="name"
      ng-model="vm.formdata.name"
      autocapitalize="none"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="password"
      placeholder="Password"
      ng-model="vm.formdata.password"
      autocapitalize="none"
    />
  </div>
  <div class="form-group">
    <label for="repeat-password">Repeat Password</label>
    <input
      type="password"
      name="repeatpass"
      class="form-control"
      id="repeatpass"
      placeholder="Password"
      ng-model="vm.formdata.repeatpass"
      autocapitalize="none"
    />
  </div>
  <button
    ng-disabled="regForm.$dirty && regForm.$invalid"
    type="submit"
    class="btn-success"
  >
    Create
  </button>
</form>
